<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Black Friday deals dataset Analysis</title>
  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

        <div class="wrapper">
                <nav class="navbar navbar-default">
                  <div class="container-fluid">
                    <div class="navbar-header">
                      <a class="navbar-brand" href="index.html">Black Friday deals analysis
                      </a>
                    </div>
                  </div>
                </nav>


  <div class="container">
    <div class="row">
      <div class="col-sm-12 jumbotron text-center">
        <img class="blackfriday" src="image1.png" width="600" height="300" >
        <p>Use the interactive charts below to explore the dataset</p>
      </div>
    </div>
</div>
    <div class="row">
      <div class="col-md-2">
        <div class="well">
          <h5>SELECT Product Category:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
          <br>
          <h5>SELECT Product ID:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
          <br>
          <h5>Submit</h5>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>

        </div>
<!---------------------------------------------->
         <div class="panel panel-primary">
          <div class="panel-heading">
            <h5 class="panel-title">Sale Sale </h5>
            <img class="blackfriday" src="deal.png" width="200" height="200">
          </div>
        </div>
      </div>


      <div class="col-md-5">
        <div id="pie"></div>
      </div>
      <div class="col-md-5">
        <div id="gauge"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="bubble"></div>
    </div>
  </div>

  <!-- <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> -->

   <!-- D3 JavaScript -->
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.3/d3.min.js"></script>
   <!------------logic.js--------------------------------------------->
   <script type="text/javascript" src="static/js/logic.js"></script>

   <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

   <script src="{{ url_for('static', filename='js/app.js') }}"></script>
   <script type="text/javascript" src="app.js"></script>

 <!-----------------Footer ----------------
 <footer class="footer">
        <span class="bottom">UT Bootcamp Project 2 - Neeta , Zareen, Jayshree </span>
      </footer>----------->
</body>

</html>
